{{- $id := dict "Scratch" .Page.Scratch | partial "function/id.html" -}}
<div class="mermaiddiv" id="{{ $id }}">
  <span class="mermaidspan"></span>
  <script>
    if (document.querySelector('body').getAttribute('class') != "dark") {
      document.querySelectorAll('.mermaidspan').forEach(el => {
        el.innerHTML = '<div class="mermaid" align="{{ if .Get "align" }}{{ .Get "align" }}{{ else }}center{{ end }}">{{ .Site.Params.mermaidLightTheme }}{{ safeHTML .Inner }}</div>'
      })
    } else {
      document.querySelectorAll('.mermaidspan').forEach(el => {
        el.innerHTML = '<div class="mermaid" align="{{ if .Get "align" }}{{ .Get "align" }}{{ else }}center{{ end }}">{{ .Site.Params.mermaidDarkTheme }}{{ safeHTML .Inner }}</div>'
      })
    }
  </script>
</div>
